## 10 Minutes to pandasÂ¶
https://pandas.pydata.org/pandas-docs/version/0.22.0/10min.html

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
a = pd.Series([1,3,5,np.nan,6,8])
a

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20200718',periods=6)
dates

DatetimeIndex(['2020-07-18', '2020-07-19', '2020-07-20', '2020-07-21',
               '2020-07-22', '2020-07-23'],
              dtype='datetime64[ns]', freq='D')

In [37]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2020-07-18 -0.082896 -1.683613  0.514773  0.340943
2020-07-19 -0.772733  0.109153 -0.762324 -0.490873
2020-07-20  0.179611  1.688874  0.255209 -0.925943
2020-07-21  0.043059 -0.048799 -1.246318 -1.067498
2020-07-22  0.211234 -0.862456  0.072104  1.708782
2020-07-23 -0.413367  1.172319 -1.118971 -0.836292

In [38]:
df2 = pd.DataFrame(
    {
        "A": 1,
        "B": pd.Timestamp("20200718"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

   A          B    C  D      E    F
0  1 2020-07-18  1.0  3   test  foo
1  1 2020-07-18  1.0  3  train  foo
2  1 2020-07-18  1.0  3   test  foo
3  1 2020-07-18  1.0  3  train  foo

In [39]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [40]:
df.head()

                   A         B         C         D
2020-07-18 -0.082896 -1.683613  0.514773  0.340943
2020-07-19 -0.772733  0.109153 -0.762324 -0.490873
2020-07-20  0.179611  1.688874  0.255209 -0.925943
2020-07-21  0.043059 -0.048799 -1.246318 -1.067498
2020-07-22  0.211234 -0.862456  0.072104  1.708782

In [41]:
df.tail()

                   A         B         C         D
2020-07-19 -0.772733  0.109153 -0.762324 -0.490873
2020-07-20  0.179611  1.688874  0.255209 -0.925943
2020-07-21  0.043059 -0.048799 -1.246318 -1.067498
2020-07-22  0.211234 -0.862456  0.072104  1.708782
2020-07-23 -0.413367  1.172319 -1.118971 -0.836292

In [42]:
df.index

DatetimeIndex(['2020-07-18', '2020-07-19', '2020-07-20', '2020-07-21',
               '2020-07-22', '2020-07-23'],
              dtype='datetime64[ns]', freq='D')

In [43]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [44]:
df.values

array([[-0.08289558, -1.68361261,  0.51477262,  0.34094281],
       [-0.77273327,  0.10915312, -0.76232421, -0.49087314],
       [ 0.17961052,  1.6888737 ,  0.2552086 , -0.92594335],
       [ 0.04305943, -0.04879872, -1.24631848, -1.06749798],
       [ 0.21123438, -0.86245639,  0.07210376,  1.70878162],
       [-0.41336723,  1.17231902, -1.11897078, -0.8362918 ]])

In [45]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.139182  0.062580 -0.380921 -0.211814
std    0.384022  1.248664  0.755150  1.068106
min   -0.772733 -1.683613 -1.246318 -1.067498
25%   -0.330749 -0.659042 -1.029809 -0.903530
50%   -0.019918  0.030177 -0.345110 -0.663582
75%    0.145473  0.906528  0.209432  0.132989
max    0.211234  1.688874  0.514773  1.708782

In [46]:
df.T

   2020-07-18  2020-07-19  2020-07-20  2020-07-21  2020-07-22  2020-07-23
A   -0.082896   -0.772733    0.179611    0.043059    0.211234   -0.413367
B   -1.683613    0.109153    1.688874   -0.048799   -0.862456    1.172319
C    0.514773   -0.762324    0.255209   -1.246318    0.072104   -1.118971
D    0.340943   -0.490873   -0.925943   -1.067498    1.708782   -0.836292

In [47]:
df.sort_index(axis=1,ascending=True)

                   A         B         C         D
2020-07-18 -0.082896 -1.683613  0.514773  0.340943
2020-07-19 -0.772733  0.109153 -0.762324 -0.490873
2020-07-20  0.179611  1.688874  0.255209 -0.925943
2020-07-21  0.043059 -0.048799 -1.246318 -1.067498
2020-07-22  0.211234 -0.862456  0.072104  1.708782
2020-07-23 -0.413367  1.172319 -1.118971 -0.836292

In [48]:
df.sort_values(by='B')

                   A         B         C         D
2020-07-18 -0.082896 -1.683613  0.514773  0.340943
2020-07-22  0.211234 -0.862456  0.072104  1.708782
2020-07-21  0.043059 -0.048799 -1.246318 -1.067498
2020-07-19 -0.772733  0.109153 -0.762324 -0.490873
2020-07-23 -0.413367  1.172319 -1.118971 -0.836292
2020-07-20  0.179611  1.688874  0.255209 -0.925943

In [50]:
df['A']

2020-07-18   -0.082896
2020-07-19   -0.772733
2020-07-20    0.179611
2020-07-21    0.043059
2020-07-22    0.211234
2020-07-23   -0.413367
Freq: D, Name: A, dtype: float64

In [51]:
df[0:3]

                   A         B         C         D
2020-07-18 -0.082896 -1.683613  0.514773  0.340943
2020-07-19 -0.772733  0.109153 -0.762324 -0.490873
2020-07-20  0.179611  1.688874  0.255209 -0.925943

In [52]:
df["20200718":"20200720"]

                   A         B         C         D
2020-07-18 -0.082896 -1.683613  0.514773  0.340943
2020-07-19 -0.772733  0.109153 -0.762324 -0.490873
2020-07-20  0.179611  1.688874  0.255209 -0.925943

In [53]:
df.loc[dates[0]]

A   -0.082896
B   -1.683613
C    0.514773
D    0.340943
Name: 2020-07-18 00:00:00, dtype: float64

In [54]:
df.loc[:,['A','B']]

                   A         B
2020-07-18 -0.082896 -1.683613
2020-07-19 -0.772733  0.109153
2020-07-20  0.179611  1.688874
2020-07-21  0.043059 -0.048799
2020-07-22  0.211234 -0.862456
2020-07-23 -0.413367  1.172319

In [55]:
df.loc['20200718':'20200722',['B','C']]

                   B         C
2020-07-18 -1.683613  0.514773
2020-07-19  0.109153 -0.762324
2020-07-20  1.688874  0.255209
2020-07-21 -0.048799 -1.246318
2020-07-22 -0.862456  0.072104

In [57]:
df.loc['20200722',['A','B']]

A    0.211234
B   -0.862456
Name: 2020-07-22 00:00:00, dtype: float64

In [58]:
df.loc[dates[0],['A','B']]

A   -0.082896
B   -1.683613
Name: 2020-07-18 00:00:00, dtype: float64

In [60]:
# ä»æ¯æååç´ 
df.at[dates[0],'A']

-0.08289557771470023

In [61]:
df.iloc[3]

A    0.043059
B   -0.048799
C   -1.246318
D   -1.067498
Name: 2020-07-21 00:00:00, dtype: float64

In [62]:
df.iloc[3:5,0:2]

                   A         B
2020-07-21  0.043059 -0.048799
2020-07-22  0.211234 -0.862456

In [67]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2020-07-19 -0.772733 -0.762324
2020-07-20  0.179611  0.255209
2020-07-22  0.211234  0.072104

In [70]:
df.iloc[[1,2,4],:]

                   A         B         C         D
2020-07-19 -0.772733  0.109153 -0.762324 -0.490873
2020-07-20  0.179611  1.688874  0.255209 -0.925943
2020-07-22  0.211234 -0.862456  0.072104  1.708782

In [72]:
df.iloc[:,[1,2]]

                   B         C
2020-07-18 -1.683613  0.514773
2020-07-19  0.109153 -0.762324
2020-07-20  1.688874  0.255209
2020-07-21 -0.048799 -1.246318
2020-07-22 -0.862456  0.072104
2020-07-23  1.172319 -1.118971

In [73]:
df[df.A>0]

                   A         B         C         D
2020-07-20  0.179611  1.688874  0.255209 -0.925943
2020-07-21  0.043059 -0.048799 -1.246318 -1.067498
2020-07-22  0.211234 -0.862456  0.072104  1.708782

In [74]:
df[df>0]

                   A         B         C         D
2020-07-18       NaN       NaN  0.514773  0.340943
2020-07-19       NaN  0.109153       NaN       NaN
2020-07-20  0.179611  1.688874  0.255209       NaN
2020-07-21  0.043059       NaN       NaN       NaN
2020-07-22  0.211234       NaN  0.072104  1.708782
2020-07-23       NaN  1.172319       NaN       NaN