In [1]:
# 若无法导入，则pip install pandas
import pandas as pd

In [5]:
df = pd.read_csv("Data_samples\TimeSeriesData.csv", encoding='gbk')
# df = pd.read_csv("TimeSeriesData.csv", encoding='gbk')
df

          date       PKU指数       THU指数
0     2012-1-1   76.985291   40.301222
1     2012-2-1   71.506866   33.981832
2     2012-3-1   57.410031   51.475666
3     2012-4-1   56.485801   41.560597
4     2012-5-1   39.225449   27.668570
..         ...         ...         ...
117  2021-10-1  141.698789  199.537386
118  2021-11-1  149.804607  215.963365
119  2021-12-1  143.574939  223.464030
120   2022-1-1  117.443904  196.151518
121   2022-2-1  144.976472  217.230120

[122 rows x 3 columns]