In [1]:
# 若无法导入，则pip install pandas
import pandas as pd

In [2]:
df = pd.read_excel("社会实践报名表.xlsx")
df

         目的地    描述  院系名  人数   计划
0        阿富汗  第4公司   工物  13  rap
1        伊拉克  第8公司   水利  13   篮球
2         约旦  第7公司  自动化  12  rap
3        黎巴嫩  第3公司  自动化   2    唱
4        以色列  第2公司   土木  10    唱
5       巴勒斯坦  第6公司   水利  10   篮球
6      沙特阿拉伯  第5公司   航院  14    唱
7         巴林  第2公司   社科   8   篮球
8        卡塔尔  第3公司   航院  14    唱
9        科威特  第2公司   水利   8    跳
10  阿拉伯联合酋长国  第7公司   土木   6    跳
11        阿曼  第7公司   航院  16  rap
12        也门  第7公司   水利   3   篮球
13      格鲁吉亚  第6公司   社科  11  rap
14      亚美尼亚  第6公司  自动化  10  rap
15      阿塞拜疆  第2公司   水利  18    唱
16       土耳其  第6公司   水利  19  rap
17      塞浦路斯  第3公司   航院   9   篮球

In [4]:
df.columns[0]

'目的地'

In [9]:
df['目的地'][1]

'伊拉克'

In [5]:
for i in range(10):
    print(df['目的地'].values[i])

阿富汗
伊拉克
约旦
黎巴嫩
以色列
巴勒斯坦
沙特阿拉伯
巴林
卡塔尔
科威特

In [6]:
# 生成新的一列
df['备注'] = df['目的地']+df['描述']
df

         目的地    描述  院系名  人数   计划            备注
0        阿富汗  第5公司   航院  20   篮球       阿富汗第5公司
1        伊拉克  第2公司  自动化   3    唱       伊拉克第2公司
2         约旦  第7公司   电子   3    唱        约旦第7公司
3        黎巴嫩  第8公司   航院  12    跳       黎巴嫩第8公司
4        以色列  第8公司   工物  10  rap       以色列第8公司
5       巴勒斯坦  第2公司   航院  17    唱      巴勒斯坦第2公司
6      沙特阿拉伯  第2公司   土木   7    唱     沙特阿拉伯第2公司
7         巴林  第7公司   电子   9    唱        巴林第7公司
8        卡塔尔  第8公司   土木  15   篮球       卡塔尔第8公司
9        科威特  第5公司   航院  19    跳       科威特第5公司
10  阿拉伯联合酋长国  第7公司   航院   8    跳  阿拉伯联合酋长国第7公司
11        阿曼  第7公司   工物  20    唱        阿曼第7公司
12        也门  第4公司   社科   3  rap        也门第4公司
13      格鲁吉亚  第8公司   电子  15    跳      格鲁吉亚第8公司
14      亚美尼亚  第7公司   土木  11  rap      亚美尼亚第7公司
15      阿塞拜疆  第5公司   社科   7    唱      阿塞拜疆第5公司
16       土耳其  第8公司   土木   3    跳       土耳其第8公司
17      塞浦路斯  第5公司   土木  11    跳      塞浦路斯第5公司

In [7]:
# 写入 excel
df.to_excel("社会实践报名表_pandas.xlsx")

In [ ]:

def read_info_pandas(filename):
    df = pd.read_excel(filename)

    result = []
    for i in range(5):
        result.append(df[df.columns[i]])

    return result