In [14]:
import numpy as np
import pandas as pd

In [15]:
subjects = ["大学物理","微积分","线性代数","机械制图","电工电子技术","程序设计基础","体育"]

In [42]:
n = 101
subject_array = [np.random.choice(subjects)+np.random.choice(["A","B","C","D"])+str(np.random.randint(1,10)) for x in range(n)]
year_array = np.random.randint(2015,2021,n)
score_array = np.random.randint(55,101,n)
credits_array = np.random.randint(1,6,n)
property_array = [np.random.choice(["任选","必修","限选"]) for x in range(n)]

In [43]:
mydata = {"subject":subject_array,"year":year_array,"score":score_array,"credits":credits_array,"property":property_array}

In [44]:
df = pd.DataFrame(mydata)
df

      subject  year  score  credits property
0    程序设计基础A6  2019     96        1       任选
1      机械制图D5  2018     79        4       任选
2    程序设计基础B3  2016    100        5       必修
3       微积分C1  2016     65        3       必修
4       微积分A8  2015     85        5       必修
..        ...   ...    ...      ...      ...
96     大学物理A6  2016     82        1       限选
97   程序设计基础D5  2016     62        2       限选
98      微积分D6  2019     86        3       限选
99   电工电子技术C2  2015     66        4       任选
100  程序设计基础B4  2015     61        4       限选

[101 rows x 5 columns]

In [45]:
for i in range(4):
    df.loc[np.random.randint(0,n),"score"]="NaN"

In [46]:
df.to_csv("score.csv",index=False,encoding="gbk")