In [371]:
import numpy as np
import pandas as pd
pd.__version__

'1.0.3'

## 1. Series

In [161]:
# 普通列表
subjects = ["军训", "思修", "史纲", "马原", "毛概", "体育1", "体育2"]
score = [65, 80, 75, 83, 77, 100, 98]
print(subjects)
print(score)

['军训', '思修', '史纲', '马原', '毛概', '体育1', '体育2']
[65, 80, 75, 83, 77, 100, 98]

In [372]:
# 构造Series
s1 = pd.Series(subjects, name="subjects")
s2 = pd.Series(score, name="score")
print(s1)
print(s2)

0     军训
1     思修
2     史纲
3     马原
4     毛概
5    体育1
6    体育2
Name: subjects, dtype: object
0     65
1     80
2     75
3     83
4     77
5    100
6     98
Name: score, dtype: int64

## 2. DataFrame

In [373]:
# 把两个Series合并为一个字典，然后创建DataFrame
df = pd.DataFrame({"Subject": s1, "Score": s2})
df

  Subject  Score
0      军训     65
1      思修     80
2      史纲     75
3      马原     83
4      毛概     77
5     体育1    100
6     体育2     98

In [379]:
# 读取csv文件，直接得到DataFrame
df = pd.read_csv("score.csv",encoding="gbk")
df

# df.head()#查看数据的前几行
# df.tail()#查看数据的最后几行
# df.describe()#一键查看数据描述

      subject  year  score  credits property
0    程序设计基础A6  2019   96.0        1       任选
1      机械制图D5  2018   79.0        4       任选
2    程序设计基础B3  2016  100.0        5       必修
3       微积分C1  2016   65.0        3       必修
4       微积分A8  2015   85.0        5       必修
..        ...   ...    ...      ...      ...
96     大学物理A6  2016   82.0        1       限选
97   程序设计基础D5  2016   62.0        2       限选
98      微积分D6  2019   86.0        3       限选
99   电工电子技术C2  2015   66.0        4       任选
100  程序设计基础B4  2015   61.0        4       限选

[101 rows x 5 columns]

### 2.1 常规操作：索引与切片、增删查改、排序
请务必做一下作业：10 Minutes to pandas

https://pandas.pydata.org/pandas-docs/version/0.22.0/10min.html

In [380]:
# df["score"] # 按列索引
df.iloc[2] # 按行索引

# 还可以选择多行、选择多列、选择特定列、选择单个值、选择部分值……
# 略过基本的增删查改操作

0       96.0
1       79.0
2      100.0
3       65.0
4       85.0
       ...
96      82.0
97      62.0
98      86.0
99      66.0
100     61.0
Name: score, Length: 101, dtype: float64

In [384]:
# 根据逻辑表达式进行索引
# df[df["score"]>=90]

df[(df["score"]>=95) & (df["year"]>=2019)]

     subject  year  score  credits property
0   程序设计基础A6  2019   96.0        1       任选
22      体育D7  2020   98.0        1       任选
38    线性代数A3  2019  100.0        1       限选
51     微积分C2  2020  100.0        1       任选
60  电工电子技术B3  2020   95.0        4       任选
62  程序设计基础C7  2020   99.0        5       任选
77      体育B7  2019  100.0        5       必修
80    大学物理C2  2019   97.0        3       必修

In [386]:
# 排序
df2 = df.sort_values(by="score",ascending=True)
df2

     subject  year  score  credits property
71  程序设计基础D5  2016   55.0        3       限选
86     微积分C5  2016   56.0        5       任选
57  程序设计基础A5  2015   57.0        2       任选
7   电工电子技术D4  2016   57.0        5       必修
45    机械制图D8  2017   58.0        2       限选
..       ...   ...    ...      ...      ...
77      体育B7  2019  100.0        5       必修
9   电工电子技术C7  2020    NaN        5       必修
37    大学物理B3  2018    NaN        3       必修
54    机械制图B3  2019    NaN        4       必修
63    线性代数D7  2018    NaN        4       任选

[101 rows x 5 columns]

In [387]:
# 统计出现次数
df["credits"].value_counts()

5    27
4    21
1    21
3    17
2    15
Name: credits, dtype: int64

### 2.2 缺失项处理

In [389]:
# 处理缺失值
# df = df2.dropna() # 去除有缺失值的项
df = df2.fillna(0) # 使用默认值填充确实项
df

     subject  year  score  credits property
71  程序设计基础D5  2016   55.0        3       限选
86     微积分C5  2016   56.0        5       任选
57  程序设计基础A5  2015   57.0        2       任选
7   电工电子技术D4  2016   57.0        5       必修
45    机械制图D8  2017   58.0        2       限选
..       ...   ...    ...      ...      ...
77      体育B7  2019  100.0        5       必修
9   电工电子技术C7  2020    0.0        5       必修
37    大学物理B3  2018    0.0        3       必修
54    机械制图B3  2019    0.0        4       必修
63    线性代数D7  2018    0.0        4       任选

[101 rows x 5 columns]

### 2.3 函数应用
分组：groupby, 聚合：agg，使用自定义函数：apply

非常类似于Excel操作

In [392]:
# 分组与聚合
b = df.groupby('year')['score','credits']
# list(b)
# b

In [394]:
# 分组与聚合
# b = df.groupby('year')['score','credits']
# list(b)

# 分组 + 聚合
# b = df.groupby('year')['score','credits'].agg("mean")
b = df.groupby(['year','property'])['score','credits'].agg({"score":"mean","credits":"sum"})
b

                   score  credits
year property
2015 任选        80.000000       26
     必修        85.750000       13
     限选        83.000000       26
2016 任选        80.500000       15
     必修        76.000000       28
     限选        72.875000       22
2017 任选        70.500000        8
     必修        84.750000       13
     限选        76.666667       32
2018 任选        67.750000       14
     必修        68.125000       24
     限选        86.666667        9
2019 任选        82.800000       15
     必修        67.800000       17
     限选        77.555556       21
2020 任选        91.333333       17
     必修        56.750000       11
     限选        75.666667       10

In [364]:
def score_to_grade(score):
    if score == 100:
        grade = "A+"
    elif score >= 95:
        grade = "A"
    elif score >= 90:
        grade = "A-"
    elif score >= 85:
        grade = "B+"
    elif score >= 80:
        grade = "B"
    elif score >= 77:
        grade = "B-"
    elif score >= 73:
        grade = "C+"
    elif score >= 70:
        grade = "C"
    elif score >= 67:
        grade = "C-"
    elif score >= 63:
        grade = "D+"
    elif score >= 60:
        grade = "D"
    else:
        grade = "F"
    return grade


grade_to_GPA = {
    "A+": 4.0,
    "A": 4.0,
    "A-": 4.0,
    "B+": 3.6,
    "B": 3.3,
    "B-": 3.0,
    "C+": 2.6,
    "C": 2.3,
    "C-": 2.0,
    "D+": 1.6,
    "D": 1.3,
    "F": 0,
}

In [397]:
df = df.sort_values(by="score",ascending=True)
df

     subject  year  score  credits property grade  GPA
63    线性代数D7  2018    0.0        4       任选     F  0.0
37    大学物理B3  2018    0.0        3       必修     F  0.0
9   电工电子技术C7  2020    0.0        5       必修     F  0.0
54    机械制图B3  2019    0.0        4       必修     F  0.0
71  程序设计基础D5  2016   55.0        3       限选     F  0.0
..       ...   ...    ...      ...      ...   ...  ...
2   程序设计基础B3  2016  100.0        5       必修    A+  4.0
23  程序设计基础A7  2015  100.0        4       任选    A+  4.0
21    机械制图D1  2016  100.0        3       任选    A+  4.0
77      体育B7  2019  100.0        5       必修    A+  4.0
38    线性代数A3  2019  100.0        1       限选    A+  4.0

[101 rows x 7 columns]

In [396]:
# 使用自定义函数：apply
df["grade"] = df["score"].apply(score_to_grade)
df["GPA"] = df["score"].apply(lambda x: grade_to_GPA[score_to_grade(x)])
df

     subject  year  score  credits property grade  GPA
71  程序设计基础D5  2016   55.0        3       限选     F  0.0
86     微积分C5  2016   56.0        5       任选     F  0.0
57  程序设计基础A5  2015   57.0        2       任选     F  0.0
7   电工电子技术D4  2016   57.0        5       必修     F  0.0
45    机械制图D8  2017   58.0        2       限选     F  0.0
..       ...   ...    ...      ...      ...   ...  ...
77      体育B7  2019  100.0        5       必修    A+  4.0
9   电工电子技术C7  2020    0.0        5       必修     F  0.0
37    大学物理B3  2018    0.0        3       必修     F  0.0
54    机械制图B3  2019    0.0        4       必修     F  0.0
63    线性代数D7  2018    0.0        4       任选     F  0.0

[101 rows x 7 columns]

In [366]:
df

     subject  year  score  credits property grade  GPA
51     微积分C2  2020  100.0        1       任选    A+  4.0
82    机械制图D9  2015  100.0        3       限选    A+  4.0
2   程序设计基础B3  2016  100.0        5       必修    A+  4.0
77      体育B7  2019  100.0        5       必修    A+  4.0
68    机械制图B3  2018  100.0        3       任选    A+  4.0
..       ...   ...    ...      ...      ...   ...  ...
71  程序设计基础D5  2016   55.0        3       限选     F  0.0
9   电工电子技术C7  2020    0.0        5       必修     F  0.0
37    大学物理B3  2018    0.0        3       必修     F  0.0
54    机械制图B3  2019    0.0        4       必修     F  0.0
63    线性代数D7  2018    0.0        4       任选     F  0.0

[101 rows x 7 columns]

In [398]:
# 使用apply函数实现两列的加权平均
def wavg(group, avg_name, weight_name):
    d = group[avg_name]
    w = group[weight_name]
    return (d * w).sum() / w.sum()

GPA_year = df.groupby('year').apply(wavg, "GPA", "credits")
# GPA_year
df.groupby(['year','property']).apply(wavg, "GPA", "credits")

year
2015    3.080000
2016    2.293846
2017    2.669811
2018    2.659574
2019    2.652830
2020    2.502632
dtype: float64

In [370]:
GPA_year.to_csv("GPA_year.csv",encoding="gbk")